# Git and environment files
.git
.gitignore
.env

# Docker files and test data
Dockerfile
test_files/offer.json
test_files/leads.csv
# Python cache and virtual environment

__pycache__
app/__pycache__
venv/
